@model IEnumerable<Infrastructure.EF.Domain.Question>

<p>
    @Html.ActionLink("Create New", "CreateQuestion", new { categoryId = ViewBag.categoryId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuestionString)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionString)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditQuestion", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteQuestion", new { categoryId = item.CategoryId, id = item.Id })
        </td>
    </tr>
}

</table>
