@model IEnumerable<Infrastructure.EF.Domain.Question>


@if (Model.Any())
{
    <div class="row">
        <div class="col-md-8">@Html.DisplayNameFor(model => model.QuestionString)</div>
    </div>
    <h3>Questins for a skill</h3>
    foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-10">
                <div class="well">
                    @Html.DisplayFor(modelItem => item.QuestionString)
                </div>
            </div>
            <div class="col-md-1">
                @Html.ActionLink("Edit", "EditQuestion", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
            </div>
            <div class="col-md-1">
                @Html.ActionLink("Delete", "DeleteQuestion", new { categoryId = item.CategoryId, id = item.Id }, new { @class = "btn btn-danger btn-sm" })
            </div>
        </div>
    }

}
else
{
    <div class="alert alert-info">No questions created yet</div>
}
<p>
    @Html.ActionLink("Create New Question", "CreateQuestion", new { categoryId = ViewBag.categoryId }, new { @class = "btn btn-primary" })
</p>
