@model Infrastructure.EF.Domain.Question

@{
    ViewBag.Title = "CreateQuestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateQuestion</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.QuestionString, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.QuestionString, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.QuestionString)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Answer, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Answer, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Answer)
            </div>
        </div>
        @Html.HiddenFor(model => model.CategoryId)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Edit", new { id = Model.CategoryId }, new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
