@model IEnumerable<Infrastructure.EF.Domain.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Skills</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table table-striped">
    <tr class="danger">
        <th>
            Category Name
        </th>
        <th>
            Parent Category Name
        </th>
        <th>Questions count</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Edit", new { id = item.Id }, new { @class = "label label-success" })
            </td>
            <td>
                @if (item.ParentCategory != null)
                {
                    <span class="label label-info">@item.ParentCategory.Name</span>
                }
            </td>
            <td>
                @if (item.ParentId.HasValue) { 
                <span>@item.Questions.Count()</span>
                }
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "label label-danger" })
            </td>
        </tr>
    }

</table>
