@using Infrastructure.Models
@using Microsoft.Ajax.Utilities
@model Infrastructure.Models.UserProfileModel

@{
    ViewBag.Title = "My Profile";
}

@section scripts
{
    <script>
        $(function () {
            $("select#CategoryId").select2();
        })
    </script>
}

<ul class="nav nav-tabs" style="margin-top:20px;">
    <li class="active"><a href="#profile" data-toggle="tab">IT Profile</a></li>
    @if (Model.CanEdit)
    {
        <li><a href="#social" data-toggle="tab">Whom I know</a></li>
    }
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="profile" style="margin-top:-1px;">
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <a href="#" class="thumbnail">
                                <img class="profile-poster" src="@Model.ImageUrl" alt="@Model.UserName @Model.UserLastName">
                            </a>
                        </div>
                        <div class="col-md-10 profile-username">
                            <h3>@Model.UserName @Model.UserLastName</h3>
                            <div class="text-muted">Age: @Model.Age, @Model.Position</div>
                            <hr />
                            <div>
                                @foreach (var achievment in Model.Achievments)
                                {
                                    <img src="@Url.Content(@achievment.ImageUrl)" class="tooltipster" title="@achievment.Description"/>
                                }
                            </div>
                            @Html.ValidationSummary()
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2"><h4>@(Model.CanEdit ? "My" : "User's") skills</h4></div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            @if (!Model.Skills.Any() && Model.CanEdit)
                            {
                                <div class="alert alert-info">You haven't added any skills. We beleive that you are a good specialist and just forgot to add your skills.</div>
                            }
                            @if (!Model.Skills.Any() && !Model.CanEdit)
                            {
                                <div class="alert alert-info">User hasn't added any skills. </div>
                            }
                            @for (var i = 0; i < Model.Skills.Count; i++)
                            {
                                var skill = Model.Skills[i];

                                <div class="row">
                                    <div class="col-md-1">@(i + 1)</div>
                                    <div class="col-md-10">
                                        <span class="label label-info">@skill.SkillName</span>
                                        @if (@skill.SubSkills.Any())
                                        {
                                            foreach (var subSkill in skill.SubSkills)
                                            {
                                                <div class="row" style="margin-bottom: 5px;">
                                                    <div class="col-md-5 col-md-offset-1">@subSkill.SkillName</div>
                                                    <div class="col-md-5">
                                                        @if (subSkill.IsApproved)
                                                        {
                                                            <span class="label label-success">Test completed</span>
                                                        }
                                                        else
                                                        {
                                                            if (Model.CanEdit)
                                                            {
                                                                @Html.ActionLink("Not Verified", "Test", "Quiz", new {categoryId = subSkill.SkillId}, new {@class = "label label-default"})
                                                            }
                                                            else
                                                            {
                                                                <span class="label label-default">Not Verified</span>
                                                            }
                                                        }
                                                    </div>
                                                    @if (Model.CanEdit)
                                                    {
                                                        <div class="col-md-1">
                                                            <form action="@Url.Action("RemoveSkill")">
                                                                @Html.Hidden("CategoryId", subSkill.SkillId)
                                                                <div class="col-md-1"><input type="submit" class="btn btn-xs btn-danger" value="Remove" /></div>
                                                            </form>
                                                        </div>
                                                    }
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    @if (Model.CanEdit)
                    {
                        <div class="row">
                            <div class="col-md-offset-2 col-md-12">
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                                    Add a new skill
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @if (Model.CanEdit)
    {
        <div class="tab-pane" id="social" style="margin-top: -1px;">
            <div class="container">
                @if (Model.KnownUsers.Any())
                {
                    <h3>You already know these users</h3>
                    <hr />
                    foreach (var user in Model.KnownUsers)
                    {
                        <div class="thumbnail pull-left" style="width: 350px; margin-left: 20px; margin-bottom: 20px;">
                            <img class="profile-poster" src="@user.ImageUrl" alt=" ...">
                            <div class="caption">
                                <h3><a href="@Url.Action("Index", "Profile", new {id = user.Id})">@user.UserFullName</a></h3>
                                <p>Department: <span>@user.Department</span></p>
                                <p>Position: <span>@user.Position</span></p>
                            </div>
                        </div>
                    }

                }
                else
                {
                    <div class="alert alert-info">Unfortunately, you haven't guessed any employee in our company :(.<a class="alert-link" href="@Url.Action("Index", "Game")"> Do you want to try</a>?</div>
                }
            </div>
        </div>
    }
</div>
@if (Model.CanEdit)
{
    <div class="modal fade" style="display:none;" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Add a new skill</h4>
                </div>
                <div class="modal-body">
                    <form action="@Url.Action("AddSkill")" method="POST">
                        @Html.Hidden("UserId", Model.Id)
                        Please, select your skill
                        <div class="row">
                            <div class="col-md-10">
                                <select id="CategoryId" name="CategoryId" style="width: 100%;">
                                    @foreach (IdNameParentModel item in ViewBag.Categories)
                                    {
                                        <optgroup label="@item.Name">
                                            @foreach (var child in item.Childs)
                                            {
                                                <option value="@child.Id">@child.Name</option>
                                            }
                                        </optgroup>
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10" style="margin-top: 10px;">
                                <input type="submit" class="btn btn-primary btn-sm right" id="saveCategory" value="Save skill" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="clearfix">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
