@using Infrastructure.Models
@using Microsoft.Ajax.Utilities
@model Infrastructure.Models.UserProfileModel

@{
    ViewBag.Title = "Мой профиль";
}

@section scripts
{
    <script>
        $(function () {
            $("#CategoryId").select2();
//            $('#saveCategory').on('click', function (e) {
//                e.preventDefault();
//                var catId = $('#CategoryId').val();
//                var userId = $('#UserId').val();
//
//            })
        })
    </script>
}

<ul class="nav nav-tabs">
    <li class="active"><a href="#profile" data-toggle="tab">IT Profile</a></li>
    <li><a href="#social" data-toggle="tab">Social</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="profile" style="margin-top:-1px;">
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <a href="#" class="thumbnail">
                                <img class="profile-poster" src="@Url.Content("~/Content/img/no-poster.png")" alt="...">
                            </a>
                        </div>
                        <div class="col-md-10 profile-username">
                            <h3>@Model.UserName @Model.UserLastName</h3>
                            <div class="text-muted">Age: @Model.Age, @Model.Position</div>
                            <hr />
                            @Html.ValidationSummary()
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10"><h4>My skills</h4></div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            @if (!Model.Skills.Any())
                            {
                                <div class="alert alert-info">You haven't added any skills. We beleive that you are a good specialist and just forgot to add your skills.</div>
                            }
                            @for (var i = 0; i < Model.Skills.Count; i++)
                            {
                                var skill = Model.Skills[i];

                                <div class="row">
                                    <div class="col-md-1">@(i + 1)</div>
                                    <div class="col-md-10">
                                        @skill.SkillName
                                        @if (@skill.SubSkills.Any())
                                        {
                                            foreach (var subSkill in skill.SubSkills)
                                            {
                                                <div class="row" style="margin-bottom: 5px;">
                                                    <div class="col-md-5 col-md-offset-1">@subSkill.SkillName</div>
                                                    <div class="col-md-5">
                                                        @if (subSkill.IsApproved)
                                                        {
                                                            <span class="label label-success">Тест пройден</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="label label-default">Не подтвержден</span>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-12">
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                                Add a new skill
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="social" style="margin-top:-1px;">

        Здесь будет инфа, насколько хорошо ты знаешь сотрудников
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add a new skill</h4>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("AddSkill")" method="POST">
                    @Html.Hidden("UserId", Model.Id)
                    Please, select your skill
                    <div class="row">
                        <div class="col-md-10">
                            <select id="CategoryId" name="CategoryId" style="width:100%;">
                                @foreach (IdNameParentModel item in ViewBag.Categories)
                                {
                                    <optgroup label="@item.Name">
                                        @foreach (var child in item.Childs)
                                        {
                                            <option value="@child.Id">@child.Name</option>
                                        }
                                    </optgroup>
                                }
                            </select>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10" style="margin-top:10px;">
                            <input type="submit" class="btn btn-primary btn-sm right" id="saveCategory" value="Save skill" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="clearfix">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

    </div>
</div>
