<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - iTeachArt</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script>
        $(function() {
            $(".tooltipster").tooltipster();
            hljs.initHighlightingOnLoad()
        })
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home", null)" class="navbar-brand"><span class="red">i</span><span class="white">Teach</span><span class="red">Art</span></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Profile", "My", "Profile")</li>
                        <li>@Html.ActionLink("Guess Who", "Index", "Game")</li>
                        <li>@Html.ActionLink("Skills", "Index", "Category")</li>
                        <li>@Html.ActionLink("Hall of Fame", "HallOfFame", "Quiz")</li>
                    }
                </ul>
                <section id="login" class="navbar-right">
                    @Html.Partial("_LoginPartial")
                </section>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        @RenderSection("partial", required: false)
        <footer>
            <p>&copy; @DateTime.Now.Year - iTeachArt</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/tooltipster")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/highlight")
    @RenderSection("scripts", required: false)
    </body>
</html>
